<footer class="site-footer">
    {% assign current_year = site.time | date: '%Y' %}
  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>© 2008 - {{current_year}} kanheze.com</li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}
            <li><a href="http://www.beian.miit.gov.cn/" target="_blank" >沪ICP备15009374号-1</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-3">
          <a href="{{ "/feed.xml" | prepend: site.baseurl }}" title="欢迎订阅">Rss</a>
          <a href="javascript:window.scrollTo(0,0)" class="right mobile-visible">TOP</a>
      </div>
    </div>

  </div>

</footer>
<script src="{{ site.baseurl }}/assets/vendor/dist/js/jquery.share.min.js"></script>
<script>
    $('#share-3').share();
</script>
